<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jason Gao</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="page">
        <div class="row">
            <div class="leftWrapper col-xs-12 col-sm-6">
                <div class="leftContent">
                   <div class="personalLogo">

                   </div>
                    <div>
                        <h1>Jason Gao</h1>
                    </div>
                    <div>
                        <p>
                            Experienced Front-end Developer
                            <br />
                            \ Artificial Intelligence Practitioner
                            <br />
                            <br />
                            <svg height="12" width="12">
                                <circle cx="6" cy="6" r="6" stroke="black" stroke-width="3" fill="#0F7F12" />
                            </svg>
                            open to opportunities
                        </p>
                    </div>
                </div>
            </div>
            <div class="rightWrapper col-xs-12 col-sm-6">
                <div class="rightContent">
                    <div class="projects">
                        <h1>Projects</h1>
                        <ul>
                            <li>
                                <a href=""> Project1 </a>
                            </li>
                            <li>
                                <a href=""> Project2 </a>
                            </li>
                            <li>
                                <a href=""> Project3 </a>
                            </li>
                        </ul>
                        <h2><a href="">More on Github ></a></h2>
                    </div>
                    <div class="articles">
                        <h1>Articles</h1>
                        <ul>
                            <li>
                                <a href=""> Article1 </a>
                            </li>
                            <li>
                                <a href=""> Artricle2 </a>
                            </li>
                            <li>
                                <a href=""> Article3 </a>
                            </li>
                        </ul>
                        <h2><a href="">More on Medium ></a></h2>
                    </div>
                    <div class="links">
                        <a href=""> Github </a>
                        <a href=""> Medium </a>
                        <a href=""> Linkedin </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>